/*estilo css*/


*{margin:0; padding: 0;}
body{font-family: "Arial"; background-color: bisque; font-size: 13px;}
header{height:120px ; background-color: #262626; padding: 10px 0;}
footer{
    height: 66px;
    background-color: #44b844; 
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #333;
 }


 /*class*/
.container{margin: 0 auto;}*/
/*id*/
#conteudo{padding:50px 0;}
#menu{float: right; padding: 30px 0;}
#menu a{text-decoration: none;padding: 45 px 50px; columns: #e3e3e3; }
#menu a:hover{background-color: #44b844;}
